name: Compilation

on:
  pull_request:
    branches: 
      - master
  workflow_dispatch: # add manually button

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
         java-version: 1.8
         architecture: x64

      - name: Cache Gradle chaches
        uses: actions/cache@v2
        env:
          cache-name: cache-gradle-user-home
        with:
          path: ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: ${{ runner.os }}-${{ hashFiles('**/*.gradle.kts') }}

      - name: Gradle Build
        run: |
          chmod +x ./gradlew
          ./gradlew build
